<p-dialog [header]="titulo" [modal]="true" [(visible)]="exibeModal" [draggable]="false" [style]="{ width: largura}"
  (onHide)="cancelar()" styleClass="shadow-3">

  <ng-template pTemplate="content">

    <div class="formgrid grid">

      @if (ModalCadastro) {

      @for (item of formCadastro; track $index) {
      <div *ngIf="item.visivel" [class]="'field col-' + item.colSpan.toString()">

        <label *ngIf="item.descricao" [innerHTML]="item.descricao + ':'"></label>
        @if (item.tipoDado === 'texto') {
        <input type="text" pInputText [(ngModel)]="cadastro[item.formModel]" class="w-full" appendTo="body" />
        }

        @if (item.tipoDado === 'numerico') {
        <p-inputNumber *ngIf="item.optInput.modoNumerico === 'decimal'" [(ngModel)]="cadastro[item.formModel]"
          [mode]="item.optInput.modoNumerico" class="w-full" styleClass="w-full" appendTo="body">
        </p-inputNumber>

        <p-inputNumber *ngIf="item.optInput.modoNumerico === 'currency'" [(ngModel)]="cadastro[item.formModel]"
          [mode]="item.optInput.modoNumerico" [currency]="item.optInput.monetario" [locale]="item.optInput.locale"
          class="w-full" styleClass="w-full" appendTo="body">
        </p-inputNumber>
        }

        @if (item.tipoDado === 'lista') {
        <p-dropdown [options]="item.optInput.lista" [optionLabel]="item.optInput.listaLabel"
          [optionValue]="item.optInput.listaValue" [(ngModel)]="cadastro[item.formModel]"
          [placeholder]="item.optInput.placeholder" [showClear]="true" styleClass="w-full" appendTo="body">
        </p-dropdown>
        }

        @if (item.tipoDado === 'data') {
        <p-calendar [(ngModel)]="cadastro[item.formModel]" [dateFormat]="item.optInput.dateFormat"
          [showIcon]="item.optInput.dateIcon" [view]="item.optInput.tipoData" [readonlyInput]="false"
          styleClass="w-full" appendTo="body">
        </p-calendar>
        }

        @if (item.tipoDado === 'logico') {

        @if (item.optInput.items === undefined || item.optInput.items.length <= 0) { <p-checkbox
          [(ngModel)]="cadastro[item.formModel]" [binary]="true" (onChange)="item.optInput.onChange(cadastro[item.formModel])">
          </p-checkbox>
          <label class="ml-2" [innerHTML]="item.optInput.text"></label>

          } @else {

          @for (checkbox of item.optInput.items; track $index) {

          <p-checkbox class="ml-2" [inputId]="checkbox.itemValue" [(ngModel)]="cadastro[item.formModel]" [binary]="true"
            (onChange)="item.optInput.onChange(cadastro[item.formModel])">
          </p-checkbox>
          <label class="ml-2" [innerHTML]="checkbox.text"></label>

          }

          }
          }

          @if (item.tipoDado === 'radio') {

          @if (item.optInput.items === undefined || item.optInput.items.length <= 0) { <p-radioButton class="ml-2"
            [(ngModel)]="cadastro[item.formModel]" (onClick)="item.optInput.onClick(cadastro[item.formModel])">
            </p-radioButton>
            <label class="ml-2" [innerHTML]="item.optInput.text"></label>

            } @else {

            @for (radiobutton of item.optInput.items; track $index) {

            <p-radioButton class="ml-2" [inputId]="radiobutton.itemValue" [value]="radiobutton.itemValue"
              [(ngModel)]="cadastro[item.formModel]" (onClick)="item.optInput.onClick(cadastro[item.formModel])">
            </p-radioButton>
            <label class="ml-2" [innerHTML]="radiobutton.text"></label>

            }

            }
            }

      </div>
      }

      } @else {

      @for (item of formFiltros; track $index) {
      <div [class]="'field col-' + item.colSpan.toString()">

        <label [innerHTML]="item.descricao + ':'"></label>
        @if (item.tipoDado === 'texto') {
        <input type="text" pInputText [(ngModel)]="filtros[item.formModel]" class="w-full" appendTo="body" />
        }

        @if (item.tipoDado === 'numerico') {
        <p-inputNumber [(ngModel)]="filtros[item.formModel]" [mode]="item.optInput.modoNumerico"
          [currency]="item.optInput.monetario" [locale]="item.optInput.locale" styleClass="w-full" appendTo="body">
        </p-inputNumber>
        }

        @if (item.tipoDado === 'lista') {
        <p-dropdown [options]="item.optInput.lista" [optionLabel]="item.optInput.listaLabel"
          [optionValue]="item.optInput.listaValue" [(ngModel)]="filtros[item.formModel]"
          [placeholder]="item.optInput.placeholder" [showClear]="true" styleClass="w-full" appendTo="body">
        </p-dropdown>
        }

        @if (item.tipoDado === 'data') {
        <p-calendar [(ngModel)]="filtros[item.formModel]" [dateFormat]="item.optInput.dateFormat"
          [showIcon]="item.optInput.dateIcon" [view]="item.optInput.tipoData" [readonlyInput]="false"
          styleClass="w-full" appendTo="body">
        </p-calendar>
        }

      </div>
      }

      }

    </div>

  </ng-template>

  <ng-template pTemplate="footer">

    @if (ModalCadastro) {
    <p-button label="Salvar" icon="pi pi-check" [text]="true" (onClick)="salvar()"></p-button>
    <p-button label="Cancelar" icon="pi pi-ban" [text]="true" (onClick)="cancelar()"></p-button>
    } @else {
    <p-button label="Limpar" icon="pi pi-trash" [text]="true" severity="danger" (onClick)="limparFormulario()">
    </p-button>
    <p-button label="Filtrar" icon="pi pi-filter" [text]="true" (onClick)="filtrar()"></p-button>
    <p-button label="Cancelar" icon="pi pi-ban" [text]="true" (onClick)="cancelar()"></p-button>
    }

  </ng-template>

</p-dialog>
