<nbs-previsao-venda></nbs-previsao-venda>

<p-toast position="bottom-right"></p-toast>

<p-confirmDialog #confDial acceptLabel="Sim" rejectLabel="Não" appendTo="body" [style]="{'min-width': 'auto'}" [closable]="false">

    <ng-template pTemplate="headless" let-message>

        <div class="bg-white border-1 border-round surface-border pt-4 pl-4 pr-4 pb-2">

            <div class="flex align-items-center">
                <i class="text-4xl mr-3" [class]="message.icon"></i>
                <span [innerHTML]="message.message"></span>
            </div>

            <div class="flex justify-content-center gap-2 mt-4">
                <p-button icon="pi pi-check" label="Sim" [text]="true" (onClick)="confDial.accept()"></p-button>
                <p-button icon="pi pi-times" label="Não" [text]="true" (onClick)="confDial.reject()"></p-button>
            </div>
        </div>

    </ng-template>

</p-confirmDialog>
